results/
wandb/
tmp/

__pycache__
*venv*
.vscode
build
dist
*.egg*
.ipynb_checkpoints
.DS_Store
saved_instances
Morphomics.Parameters.0.toml
examples/trial_folder

# Folder Experiments
*experiments*/

test_everything