__pycache__
*venv*
.vscode
build
dist
*.egg*
.ipynb_checkpoints
saved_instances
Morphomics.Parameters.0.toml
examples/trial_folder
br_experiments
vae_experiments
reproduce_experiments
retina_experiments
bt_pi_experiments
br_proper_experiments
br2_experiments
test_everything