scipy
pandas
scikit-learn
matplotlib
tomli
networkx
Cython
pickle4
h5py>=2.8.0
scipy>=0.13.3
numpy<1.25
enum34>=1.0.4
scikit-learn>=0.19.1
matplotlib>=3.2.0
umap-learn>=0.3.10
ipyvolume>=0.6.1
morphon>=0.0.8
pylmeasure>=0.2.0
ipython_genutils
fa2-modified