Cython
cached-property
fa2-modified
h5py>=2.8.0
ipython_genutils
ipykernel
nbformat>=4.2.0
matplotlib>=3.2.0
plotly
seaborn
kaleido
morphon>=0.0.8
networkx
numpy<1.25
pandas
pylmeasure>=0.2.0
scikit-bio
scikit-learn>=0.19.1
scipy>=0.13.3
tomli  
torch
torch-geometric
torch-scatter
umap-learn>=0.3.10
wandb
